{% extends '@!EasyAdmin/crud/new.html.twig' %}

{% block content_title %}
    {% if app.request.query.get('nodeType') is empty %}
        {{ 'TITLE_NODE_TYPE_SELECT'|trans(ea.i18n.translationParameters, ea.i18n.translationDomain)|raw }}
    {% else %}
        {{ parent() }}
    {% endif %}

{% endblock %}

{% block main %}
    {% if app.request.query.get('nodeType') is empty %}
        <section id="main">
            <div class="content-panel">
                <div class="content-panel-body without-header without-footer">
                    {% block page_content %}
                        <div class="list-group">
                            <a href="{{ ea_url({ nodeType: '1' }) }}" class="list-group-item list-group-item-action">Тип 1</a>
                            <a href="{{ ea_url({ nodeType: '2' }) }}" class="list-group-item list-group-item-action">Тип 2</a>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </section>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

